<nz-card>
    <nz-skeleton [nzActive]="true" [nzLoading]="loading">
        <nz-descriptions nzBordered nzColon [nzColumn]="3">
            <nz-descriptions-item nzTitle="药品商品名编码">{{data.ALA002}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="通用名编码">{{data.ALA003}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="药监局编码">{{data.ALA004}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="物价编码">{{data.ALA005}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="通用名称">{{data.ALA006}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="产品名称">{{data.ALA007}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="药品商品名">{{data.ALA010}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="商品名五笔码">{{data.ALC011}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="商品名拼音码">{{data.ALC012}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="收费项目等级">{{data.ALA016}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="工伤使用标识">{{data.ALA043}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="英文名称">{{data.ALA019}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="开始时间">{{data.AAE030}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="终止时间">{{data.AAE031}}</nz-descriptions-item>
        </nz-descriptions>
    </nz-skeleton>
</nz-card>