<div class="location">
    <span class="t">您的位置：</span>
    <span class="location-name">{{title}}</span>
</div>
<div class="count-down-area">本页面将在
    <countdown [config]="config" (event)="handleEvent($event)"></countdown>
    秒后自动退出
</div>
<nz-card>
    <nz-skeleton [nzActive]="true" [nzLoading]="loading">
        <div class="table">
            <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData"
                [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
                (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" nzBordered="true"
                [nzShowTotal]="totalTemplate">
                <thead (nzSortChange)="sort($event)" nzSingleSort>
                    <tr>
                        <th nzShowSort nzSortKey="AAC003">姓名</th>
                        <th nzShowSort nzSortKey="AAC002">公民身份号码</th>
                        <th nzShowSort nzSortKey="ERRM">补缴情况说明</th>
                        <th nzShowSort nzSortKey="AAE036">经办日期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of ajaxTable.data">
                        <td><a (click)="onClick(data.BAZ001)">{{data.AAC003}}</a></td>
                        <td>{{data.AAC002}}</td>
                        <td>{{data.ERRM}}</td>
                        <td>{{data.AAE036}}</td>
                    </tr>
                </tbody>
            </nz-table>
            <ng-template #totalTemplate let-total> 总记录 {{ total }} </ng-template>
        </div>
    </nz-skeleton>
</nz-card>
<a (click)="back()" class="back-btn">返回</a>