<div class="container">
    <!-- <nz-page-header (nzBack)="onBack()" nzBackIcon nzTitle="岗位查询" nzSubtitle=""></nz-page-header> -->
    <form nz-form #formRef="ngForm" (ngSubmit)="!loading&&searchData(true)">
        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                    <input nz-input #KeyRef="ngModel" [(ngModel)]="key" name="key" placeholder="请输入关键字" />
                </nz-input-group>
                <ng-template #suffixButton>
                    <button nz-button type="submit" nzType="primary" nzSize="large"
                        [disabled]="formRef.invalid||loading" nzSearch>搜索</button>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </form>
    <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
        [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)" nzBordered="true" [nzShowTotal]="totalTemplate">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
                <th nzShowSort nzSortKey="ACB331">招聘会名称</th>
                <th>地址</th>
                <th nzShowSort nzSortKey="ACB333">开始日期</th>
                <th nzShowSort nzSortKey="ACB334">截止日期</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data">
                <td>{{data.ACB331}}</td>
                <td>{{data.ACB336}}</td>
                <td>{{data.ACB333}}</td>
                <td>{{data.ACB334}}</td>
                <!-- <td>
                <a>Action 一 {{ data.name }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
            </td> -->
            </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total> 总记录 {{ total }} </ng-template>
</div>