<div class="location">
    <span class="t">您的位置：</span>
    <span class="location-name">{{title}}</span>
</div>
<div class="count-down-area">本页面将在
    <countdown [config]="config" (event)="handleEvent($event)"></countdown>
    秒后自动退出
</div>
<nz-card>
    <nz-skeleton [nzActive]="true" [nzLoading]="loading">
        <div class="table">
            <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData"
                [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
                (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" nzBordered="true">
                <thead (nzSortOrderChange)="sort($event)" nzSingleSort>
                    <tr>
                        <th nzShowSort nzSortKey="AAE155">变更项名称</th>
                        <th nzShowSort nzSortKey="AAE123">变更前信息</th>
                        <th nzShowSort nzSortKey="AAE124">变更后信息</th>
                        <th nzShowSort nzSortKey="AAE011">经办人</th>
                        <th nzShowSort nzSortKey="AAE036">经办日期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listOfData">
                        <td>{{item.AAE155}}</td>
                        <td>{{item.AAE123}}</td>
                        <td>{{item.AAE124}}</td>
                        <td>{{item.AAE011}}</td>
                        <td>{{item.AAE036}}</td>
                    </tr>
                </tbody>
            </nz-table>
            <!-- <ng-template #totalTemplate let-total> 总记录 {{ total }} </ng-template> -->
        </div>
    </nz-skeleton>
</nz-card>
<a (click)="back()" class="back-btn">返回</a>