<div class="container">
    <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
        [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)" nzBordered="true" [nzShowTotal]="totalTemplate">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
                <th nzShowSort nzSortKey="acb140">企业小额担保贷款流水号</th>
                <th nzShowSort nzSortKey="aab004">单位名称</th>
                <th nzShowSort nzSortKey="acb142">贷款金额</th>
                <th nzShowSort nzSortKey="aae045">法定代表人姓名</th>
                <th nzShowSort nzSortKey="acb143">贷款起始日期</th>
                <th nzShowSort nzSortKey="acb144">贷款终止日期</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data">
                <td><a (click)="onClick(data.BAZ001)">{{data.acb140}}</a></td>
                <td>{{data.aab004}}</td>
                <td>{{data.acb142}}</td>
                <td>{{data.aae045}}</td>
                <td>{{data.acb143}}</td>
                <td>{{data.acb144}}</td>
            </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total> 总记录 {{ total }} </ng-template>
</div>

<!-- <div class="container">
    <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
        [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)" nzBordered="true" [nzShowTotal]="totalTemplate">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
                <th nzShowSort nzSortKey="ACA112">岗位名称</th>
                <th nzShowSort nzSortKey="ACB21A">岗位类型</th>
                <th nzShowSort nzSortKey="AAEA20">发布单位</th>
                <th nzShowSort nzSortKey="AAE030">截止日期</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data">
                <td><a (click)="onClick(data.ACB210)">{{data.ACA112}}</a></td>
                <td>{{data.ACB21A}}</td>
                <td>{{data.AAEA20}}</td>
                <td>{{data.AAE030}}</td>
            </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total> 总记录 {{ total }} </ng-template>
</div> -->