<nz-card>
    <nz-skeleton [nzActive]="true" [nzLoading]="loading">
        <nz-descriptions nzBordered nzColon [nzColumn]="3">
            <nz-descriptions-item nzTitle="姓名">{{data.AAC003}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="个人编号">{{data.BAC001}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="社会保障号码">{{data.AAC002}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="单位名称">{{data.AAB004}}</nz-descriptions-item>
            <!-- <nz-descriptions-item nzTitle="工伤发生日期">{{data.ALC020}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="工伤类型">{{data.ALC004}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="事故类别">{{data.ALC007}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="伤害部位">{{data.ALC042}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="职业病名称">{{data.ALA017}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="申请时间">{{data.ALC026}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="认定时间">{{data.ALC031}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="死亡时间">{{data.ALC040}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="伤残等级鉴定书编号">{{data.ALC035}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="伤残等级">{{data.ALA040}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="伤残等级鉴定时间">{{data.ALC034}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="护理等级鉴定书编号">{{data.ALC036}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="护理等级">{{data.ALC060}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="护理等级鉴定时间">{{data.ALC037}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="定期待遇发放方式">{{data.AAE145}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="定期待遇发放银行">{{data.AAF200}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="定期待遇发放账号">{{data.AAE010}}</nz-descriptions-item> -->
        </nz-descriptions>
    </nz-skeleton>
</nz-card>