<div class="container">
    <table class="main" cellpadding="0" cellspacing="10">
        <tbody>
            <tr>
                <td rowspan="2" colspan="2" style="width: 25%"><a href="#">政务不见面审批</a></td>
                <td rowspan="1" colspan="3" style="width: 37.5%"><a href="#">失业保险金发放查询</a></td>
                <td rowspan="1" colspan="3" style="width: 37.5%"><a href="#">职业培训查询</a></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2" style="width: 25%"><a routerLink="/cyfw">创业服务查询</a></td>
                <td rowspan="1" colspan="2" style="width: 25%"><a routerLink="/jyyz">就业援助查询</a></td>
                <td rowspan="2" colspan="2" style="width: 25%"><a routerLink="/grxx">基本信息查询</a></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="3" style="width: 37.5%"><a routerLink="/job">自助求职</a></td>
                <td rowspan="1" colspan="3" style="width: 37.5%"><a routerLink="/recruit">招聘会</a></td>
            </tr>
        </tbody>
    </table>
</div>