
nz-layout.layout01 {
  margin-left: 80px;
}

nz-layout a {
  display: inline-block;
}

nz-sider.shbx {
  width: 361px !important;
  max-width: 361px !important;
  min-width: 361px !important;
  height: 496px;
  line-height: 120px;
}

nz-header.header01 {
  height: 184px;
  position: relative;
}
nz-header.header01 .logo {
  position: absolute;
  left: 0;
  top: 59px;
}
nz-header.header01 .name {
  position: absolute;
  width: 423px;
  height: 38px;
  line-height: 38px;
  left: 80.5px;
  top: 64px;
  font-family: "BigruixianBlackGBV1.0";
  font-size: 36px;
  text-align: left;
  letter-spacing: 2.4px;
  color: #ffffff;
}

nz-header.header01 .time {
  position: absolute;
  width: 111px;
  height: 51px;
  line-height: 51px;
  left: 959px;
  top: 57px;
  font-family: "HelveticaNeue";
  font-size: 44px;
  color: #ffffff;
  text-align: center;
}

nz-header.header01 .week {
  position: absolute;
  width: 48px;
  height: 22px;
  line-height: 22px;
  left: 1074px;
  top: 63px;
  font-family: "Alibaba-PuHuiTi-Regular";
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

nz-header.header01 .date {
  position: absolute;
  width: 90px;
  height: 22px;
  line-height: 22px;
  left: 1072.5px;
  top: 82px;
  font-family: "Alibaba-PuHuiTi-Regular";
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

nz-header.header01 .exit {
  position: absolute;
  width: 154px;
  height: 50px;
  line-height: 50px;
  left: 1205px;
  top: 82px;
  font-family: "Alibaba-PuHuiTi-Regular";
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

nz-layout.layout02 {
  margin-left: 20px;
}

nz-header.header02 {
  height: 238px;
}
nz-header.header02 .jycy {
  width: 439px !important;
  max-width: 439px !important;
  min-width: 439px !important;
}

nz-header.header02 .shbzk {
  width: 439px !important;
  max-width: 439px !important;
  min-width: 439px !important;
  margin-left: 20px;
}

nz-footer.footer01 {
  height: 238px;
  margin-top: 20px;
}

nz-footer.footer01 .rcfw {
  width: 570px !important;
  max-width: 570px !important;
  min-width: 570px !important;
}

nz-footer.footer01 .shbzk {
  width: 308px !important;
  max-width: 308px !important;
  min-width: 308px !important;
  margin-left: 20px;
}

nz-content {
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}

nz-layout:last-child {
}
