<!-- <div class="container">
    <table class="main" cellpadding="0" cellspacing="10">
        <tbody>
            <tr>
                <td rowspan="2" colspan="2" style="width: 25%"><a href="#">政务不见面审批</a></td>
                <td rowspan="1" colspan="3" style="width: 37.5%"><a href="#">失业保险金发放查询</a></td>
                <td rowspan="1" colspan="3" style="width: 37.5%"><a href="#">职业培训查询</a></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2" style="width: 25%; background-color:#66d3e7;">
                    <a routerLink="/cyfw"><img src="../../../assets/index/0126235bda7ee3a80121ab5d7fd589.png" />
                        创业服务查询</a>
                </td>
                <td rowspan="1" colspan="2" style="width: 25%"><a routerLink="/jyyz">就业援助查询</a></td>
                <td rowspan="2" colspan="2" style="width: 25%"><a routerLink="/grxx">基本信息查询</a></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="3" style="width: 37.5%"><a routerLink="/job">自助求职</a></td>
                <td rowspan="1" colspan="3" style="width: 37.5%"><a routerLink="/recruit">招聘会</a></td>
            </tr>
        </tbody>
    </table>
</div> -->

<div class="container">
    <div nz-row nzType="flex" nzJustify="space-around">
        <div nz-col nzSpan="6"><a href="http://sq.jszwfw.gov.cn" target="_blank">
                <p><img src=" ../../../assets/index/bda7ee3a80121ab5d7fd589_17-27.png" /></p>
                <p>政务不见面审批</p>
            </a>
        </div>
        <div nz-col nzSpan="6"><a routerLink="/sybx">
                <p><img src="../../../assets/index/bda7ee3a80121ab5d7fd589_18-21.png" /></p>
                <p>失业保险金发放查询</p>
            </a>
        </div>
        <div nz-col nzSpan="6"><a routerLink="/training">
                <p><img src="../../../assets/index/bda7ee3a80121ab5d7fd589_06.png" /></p>
                <p>职业培训查询</p>
            </a>
        </div>
        <div nz-col nzSpan="6"><a routerLink="/cyfw">
                <p><img src="../../../assets/index/bda7ee3a80121ab5d7fd589_07.png" />
                </p>
                <p>创业服务查询</p>
            </a>
        </div>
        <div nz-col nzSpan="6"><a routerLink="/jyyz">
                <p><img src="../../../assets/index/bda7ee3a80121ab5d7fd589_26-50.png" />
                </p>
                <p>就业援助查询</p>
            </a>
        </div>
        <div nz-col nzSpan="6"><a routerLink="/grxx">
                <p><img src="../../../assets/index/bda7ee3a80121ab5d7fd589_03.png" />
                </p>
                <p>基本信息查询</p>
            </a>
        </div>
        <div nz-col nzSpan="6"><a href="http://www.jshrss.gov.cn/rlzy/#/ww/index" target="_blank">
                <p><img src="../../../assets/index/bda7ee3a80121ab5d7fd589_20-39.png" />
                </p>
                <p>自助求职</p>
            </a>
        </div>
        <div nz-col nzSpan="6"><a href="http://www.jshrss.gov.cn/rlzy/#/ww/c/a/wwca_cont.html" target="_blank">
                <p><img src="../../../assets/index/bda7ee3a80121ab5d7fd589_27.png" />
                </p>
                <p>招聘会</p>
            </a>
        </div>
    </div>
</div>