<div class="container">
    <!-- <nz-page-header (nzBack)="onBack()" nzBackIcon nzTitle="就业服务查询" nzSubtitle=""></nz-page-header> -->
    <table cellpadding="0" cellspacing="10">
        <tbody>
            <tr>
                <td rowspan="1" colspan="2" style="width: 40%"><a (click)="showModal('grdk','个人创业贷款')">个人创业贷款</a></td>
                <td rowspan="1" colspan="3" style="width: 60%"><a (click)="showModal('qydk','企业小额担保贷款')">企业小额担保贷款</a></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="3" style="width: 60%"><a (click)="showModal('cybt','初次创业补贴')">初次创业补贴</a></td>
                <td rowspan="1" colspan="2" style="width: 40%"><a (click)="showModal('cyzj','创业租金补贴')">创业租金补贴</a></td>
            </tr>
        </tbody>
    </table>
</div>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <table class="read-card" cellspacing="10">
        <tbody>
            <tr>
                <td><a (click)="readidcard()">读身份证</a></td>
                <td><a (click)="readsicard()">读社保卡</a></td>
            </tr>
        </tbody>
    </table>
</nz-modal>