<div class="container">
    <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
        [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)" nzBordered="true" [nzShowTotal]="totalTemplate">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
                <th nzShowSort nzSortKey="AAC003">姓名</th>
                <th nzShowSort nzSortKey="acc121">经营项目</th>
                <th nzShowSort nzSortKey="acc123">个体工商店名</th>
                <th nzShowSort nzSortKey="acc12m">合计金额</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data">
                <td><a (click)="onClick(data.BAZ001)">{{data.AAC003}}</a></td>
                <td>{{data.acc121}}</td>
                <td>{{data.acc123}}</td>
                <td>{{data.acc12m}}</td>
            </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total> 总记录 {{ total }} </ng-template>
</div>

<!-- <div class="container">
    <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
        [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)" nzBordered="true" [nzShowTotal]="totalTemplate">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
                <th nzShowSort nzSortKey="ACA112">岗位名称</th>
                <th nzShowSort nzSortKey="ACB21A">岗位类型</th>
                <th nzShowSort nzSortKey="AAEA20">发布单位</th>
                <th nzShowSort nzSortKey="AAE030">截止日期</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data">
                <td><a (click)="onClick(data.ACB210)">{{data.ACA112}}</a></td>
                <td>{{data.ACB21A}}</td>
                <td>{{data.AAEA20}}</td>
                <td>{{data.AAE030}}</td>
            </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total> 总记录 {{ total }} </ng-template>
</div> -->