<div class="container">
    <div nz-row nzType="flex" nzJustify="space-around">
        <div nz-col nzSpan="12"><a (click)="readidcard()">
                <p><img src="../../../assets/index/bda7ee3a80121ab5d7fd589_03.png" />
                </p>
                <p>读身份证</p>
            </a>
        </div>
        <div nz-col nzSpan="12"><a (click)="readsicard()">
                <p><img src="../../../assets/index/bda7ee3a80121ab5d7fd589_13-19.png" />
                </p>
                <p>读社保卡</p>
            </a>
        </div>
    </div>
</div>