.header {
  height: 150px;
  line-height: 150px;
}

.container {
  padding: 0 15%;
}

::ng-deep .ant-pagination-item {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

::ng-deep .ant-pagination-prev {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

::ng-deep .ant-pagination-next {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

::ng-deep .ant-table-body table {
  background-color: #ffffff;
}

::ng-deep .ant-table-body table td {
  padding: 0;
  text-indent: 16px;
}

::ng-deep .ant-table-body table a {
  display: inline-block;
  height: 3.5em;
  width: 100%;
  line-height: 3.5em;
  color: #000000;
  font-weight: bold;
}
