.clear {
  clear: both;
  margin: 0;
  padding: 0;
}

.header {
  width: 90%;
  margin: 0 auto;
  height: 150px;
  line-height: 150px;

}

.header .header-item01 {
  text-align: right;
  width: 200px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 32px;
}

.header .header-item02 {
  
}

.header .header-item02 p {
  line-height: 40px;
  height: 40px;
}


.header .header-item03 {

}

.header .ant-btn {
  width: 100px;
  border: 2px solid #ffffff;
}
