<!-- NG-ZORRO -->
<!-- <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a> -->
<div class="header">
  <div nz-row nzType="flex" nzGutter="8" nzJustify="start">
    <div nz-col nzMd="4" class="header-item01">宿迁市</div>
    <div nz-col nzMd="6" class="header-item02">
      <div>
        <span>人力资源与社会保障局</span>
        <hr />
        <span>自助服务终端</span>
      </div>
    </div>
    <div nz-col nzMd="14">
      <div nz-row nzType="flex" nzGutter="8" class="header-item03" nzJustify="end">
        <div nz-col nzMd="3"><button nz-button nzSize="large" nzType="primary" (click)="goIndex()">首页</button></div>
        <div nz-col nzMd="3"><button nz-button nzSize="large" nzType="primary" (click)="back()">返回</button></div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="header">
  <div class="header-item01">
    宿迁市
  </div>
  <div class="header-item02">
    <p>人力资源与社会保障局</p>
    <p>自助服务终端</p>
  </div>
  <div class="header-item03">
    <div nz-row nzGutter="8">
      <div nz-col nzMd="12"><button nz-button nzSize="large" nzType="default">返回</button></div>
      <div nz-col nzMd="12"><button nz-button nzSize="large" nzType="primary">首页</button></div>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>