<nz-carousel class="query-item" [nzEffect]="effect">
    <div nz-carousel-content>
        <ul>
            <li><a><span class="icon62"><img src="../../../assets/rcfw-icon/编组10.png"></span>
                    <span class="title">职业培训培训考核查询</span></a></li>
            <li><a><span class="icon59_64"><img src="../../../assets/rcfw-icon/编组11.png"></span>
                    <span class="title">职业培训考勤信息查询</span></a></li>
            <li><a><span class="icon58_53"><img src="../../../assets/rcfw-icon/编组14.png"></span>
                    <span class="title">职业培训培训班级查询</span></a></li>
            <li><a><span class="icon62"><img src="../../../assets/rcfw-icon/编组3.png"></span>
                    <span class="title">职业培训培训学院综合查询</span></a></li>
        </ul>
        <ul>
            <li><a><span class="icon54_63"><img src="../../../assets/rcfw-icon/编组13.png"></span>
                    <span class="title">职业培训培训单位信息查询</span></a></li>
            <li><a><span class="icon59_60"><img src="../../../assets/rcfw-icon/编组5.png"></span>
                    <span class="title">职业培训培训报名查询</span></a></li>
            <li><a><span class="icon59_60"><img src="../../../assets/rcfw-icon/编组4.png"></span>
                    <span class="title">职业培训证书查询</span></a></li>
            <li><a><span class="icon59_60"><img src="../../../assets/rcfw-icon/编组15.png"></span>
                    <span class="title">职业培训培训补贴查询</span></a></li>
        </ul>
    </div>
</nz-carousel>