<div class="container">
    <div nz-row nzType="flex" nzJustify="space-around">
        <div nz-col nzSpan="6"><a (click)="showModal('jykn','就业困难人员信息查询')">
                <p><img src="../../../assets/index/bda7ee3a80121ab5d7fd589_13-22.png" />
                </p>
                <p>就业困难人员信息查询</p>
            </a>
        </div>
        <div nz-col nzSpan="6"><a (click)="showModal('sbbt','个人社保补贴申请查询')">
                <p><img src="../../../assets/index/bda7ee3a80121ab5d7fd589_25-41.png" />
                </p>
                <p>个人社保补贴申请查询</p>
            </a>
        </div>
    </div>
</div>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div nz-row nzType="flex" nzJustify="space-around">
        <div nz-col nzSpan="12"><a (click)="readidcard()">
                <p><img src="../../../assets/index/bda7ee3a80121ab5d7fd589_03.png" />
                </p>
                <p>读身份证</p>
            </a>
        </div>
        <div nz-col nzSpan="12"><a (click)="readidcard()">
                <p><img src="../../../assets/index/bda7ee3a80121ab5d7fd589_13-19.png" />
                </p>
                <p>读社保卡</p>
            </a>
        </div>
    </div>
</nz-modal>

<!-- <div class="container">
    <table cellpadding="0" cellspacing="10">
        <tbody>
            <tr>
                <td><a (click)="showModal('jykn','就业困难人员信息查询')">就业困难人员信息查询</a></td>
                <td><a (click)="showModal('sbbt','个人社保补贴申请查询')">个人社保补贴申请查询</a></td>
            </tr>
        </tbody>
    </table>
</div>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="title" [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <table class="read-card" cellspacing="10">
        <tbody>
            <tr>
                <td><a (click)="readidcard()">读身份证</a></td>
                <td><a (click)="readsicard()">读社保卡</a></td>
            </tr>
        </tbody>
    </table>
</nz-modal> -->