<div class="container">
    <!-- <nz-page-header (nzBack)="onBack()" nzBackIcon nzTitle="就业服务查询" nzSubtitle=""></nz-page-header> -->
    <table cellpadding="0" cellspacing="10">
        <tbody>
            <tr>
                <td><a (click)="showModal('jykn','就业困难人员信息查询')">就业困难人员信息查询</a></td>
                <td><a (click)="showModal('sbbt','个人社保补贴申请查询')">个人社保补贴申请查询</a></td>
            </tr>
        </tbody>
    </table>
</div>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="title" [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <table class="read-card" cellspacing="10">
        <tbody>
            <tr>
                <td><a (click)="readidcard()">读身份证</a></td>
                <td><a (click)="readsicard()">读社保卡</a></td>
            </tr>
        </tbody>
    </table>
</nz-modal>