<!-- <nz-descriptions nzBordered nzColon [nzColumn]="2">
    <nz-descriptions-item nzTitle="岗位名称">{{data.ACA112}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="地址">{{data.ACB305}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="发布日期">
        {{data.AAE036}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="截止日期">
        {{data.AAE030}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="薪资待遇" [nzSpan]="2">
        {{data.ACB304}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="岗位职责" [nzSpan]="2">
        {{data.ACB224}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="发布单位" [nzSpan]="2">
        {{data.AAEA20}}
    </nz-descriptions-item>
</nz-descriptions> -->
bs