<div class="container">
    <!-- <nz-page-header (nzBack)="onBack()" nzBackIcon nzTitle="岗位查询" nzSubtitle=""></nz-page-header> -->
    <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
        [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)" nzBordered="true" [nzShowTotal]="totalTemplate">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
                <th nzShowSort nzSortKey="ACC300">申请补贴序号</th>
                <th nzShowSort nzSortKey="AAB004">经营实体(网店)名称</th>
                <th nzShowSort nzSortKey="AAC003">姓名</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data">
                <td><a (click)="onClick(data.BAZ001)">{{data.ACC300}}</a></td>
                <td>{{data.AAB004}}</td>
                <td>{{data.AAC003}}</td>
                <!-- <td>
                <a>Action 一 {{ data.name }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
            </td> -->
            </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total> 总记录 {{ total }} </ng-template>
</div>