<div class="location">
    <span class="t">您的位置：</span>
    <span class="location-name">{{title}}</span>
</div>
<div class="count-down-area">本页面将在
    <countdown [config]="config" (event)="handleEvent($event)"></countdown>
    秒后自动退出
</div>
<nz-card>
    <nz-skeleton [nzActive]="true" [nzLoading]="loading">
        <form nz-form #formRef="ngForm" (ngSubmit)="!loading&&searchData(true)">
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                        <input nz-input #aab004Ref="ngModel" [(ngModel)]="aab004" name="aab004" required
                            placeholder="单位名称" />
                    </nz-input-group>
                    <ng-template #suffixButton>
                        <button nz-button type="submit" nzType="primary" nzSize="large"
                            [disabled]="formRef.invalid||loading" nzSearch>查询</button>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </form>
        <nz-descriptions nzBordered nzColon [nzColumn]="3">
            <nz-descriptions-item nzTitle="统筹区">{{data.aaa027Desc}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="基地名称">{{data.aab004}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="基地启用时间">{{data.aab527}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="基地类型">{{data.aab536Desc}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="基地等级">{{data.aab535Desc}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="基地地址">{{data.aae271}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="占地面积">{{data.aab508}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="运营机构">{{data.aab532}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="运营负责人">{{data.aab534}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="联系电话">{{data.aae005}}</nz-descriptions-item>
        </nz-descriptions>
    </nz-skeleton>
</nz-card>
<a (click)="back()" class="back-btn">返回</a>