.container {
  background: url("../../assets/index1/背景.png") no-repeat;
  background-size: 1440px;
  width: 1440px;
  height: 900px;
}

::ng-deep .table .ant-page-header {
  background-color: transparent;
  color: azure;
}

::ng-deep .table .ant-page-header .ant-page-header-heading-title {
  color: azure;
}

::ng-deep .table .ant-page-header .ant-page-header-back-button {
  color: azure;
}

::ng-deep .table .ant-pagination-item {
  background-color: transparent;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

::ng-deep .table .ant-pagination-item a {
  // //color: #ffffff;
}

::ng-deep .table .ant-pagination-prev,
::ng-deep .table .ant-pagination-next {
  background-color: transparent;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

::ng-deep .table .ant-pagination-prev .ant-pagination-item-link,
::ng-deep .table .ant-pagination-next .ant-pagination-item-link {
  background-color: transparent;
  //color: #ffffff;
}

::ng-deep .table .ant-pagination-jump-prev .ant-pagination-item-link span,
::ng-deep .table .ant-pagination-jump-next .ant-pagination-item-link span {
  //color: #ffffff;
}

::ng-deep .table .ant-table-body table {
  background: url(../../assets/timg.jpg) repeat;
}

::ng-deep .table .ant-table-thead > tr > th {
  // background-//color: #ffffff;
  // background-color: #3ba0e9;
  background: #e7f2ff;
  border-radius: 4px 4px 0 0;
  //color: #ffffff;
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 22px;
}

::ng-deep .table .ant-table-body table td {
  padding: 0;
  text-indent: 16px;
  //color: #ffffff;
  height: 3em;
  line-height: 3em;
}

::ng-deep .table .ant-table-body table a {
  display: inline-block;
  height: 3em;
  width: 100%;
  line-height: 3em;
  //color: #ffffff;
}

::ng-deep .table .ant-pagination-total-text {
  //color: #ffffff;
  height: 60px;
  line-height: 60px;
  font-family: "Alibaba-PuHuiTi-Regular";
  font-size: 20px;
  color: rgba(0, 0, 0, 0.65);
}

::ng-deep
  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 60px;
  line-height: 60px;
}

::ng-deep .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
::ng-deep
  .ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  height: 60px;
  line-height: 60px;
}

::ng-deep .ant-modal-content {
  /*background: url(../../assets/timg.jpg) repeat;*/
  background-color: #05073a;
}

::ng-deep .ant-modal-header {
  background-color: transparent;
}

::ng-deep .ant-modal-header div {
  //color: #ffffff !important;
  font-weight: bold;
}

::ng-deep .ant-modal-close-x {
  //background-color: #ffffff;
}

// ::ng-deep .ant-descriptions-item-label {
//   background-color: transparent !important;
//   font-size: 24px;
//   font-family: "Alibaba-PuHuiTi-Regular";
//   color: rgba(0, 0, 0, 0.45);
//   text-align: right;
//   line-height: 42px;
// }

// ::ng-deep .ant-descriptions-item-content {
//   font-family: "Alibaba-PuHuiTi-Regular";
//   font-size: 24px;
//   color: rgba(0, 0, 0, 0.85);
//   line-height: 42px;
// }

::ng-deep .ant-row .ant-col-6,
::ng-deep .ant-row .ant-col-12 {
}

::ng-deep .ant-row a {
}

::ng-deep .ant-row a p {
  text-align: center;
}

nz-layout.layout01 {
  margin-left: 80px;
}

nz-layout a {
  display: inline-block;
}

nz-header.header01 {
  height: 184px;
  position: relative;
}

nz-header.header01 a {
  color: #ffffff;
}

nz-header.header01 .logo {
  position: absolute;
  left: 0;
  top: 59px;
}

nz-header.header01 .name {
  position: absolute;
  width: 423px;
  height: 38px;
  line-height: 38px;
  left: 80.5px;
  top: 64px;
  font-family: "BigruixianBlackGBV1.0";
  font-size: 36px;
  text-align: left;
  letter-spacing: 2.4px;
  color: #ffffff;
}

nz-header.header01 .home {
  display: inline-block;
  position: absolute;
  width: 154px;
  height: 50px;
  line-height: 50px;
  left: 937px;
  top: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

nz-header.header01 .home a {
  background: url(../../assets/shbx-icon/602222151.png) 19px center no-repeat;
  text-indent: 65px;
  font-family: "Alibaba-PuHuiTi-Regular";
  font-size: 18px;
  width: 154px;
  height: 50px;
  text-align: left;
}

nz-header.header01 .exit {
  position: absolute;
  width: 154px;
  height: 50px;
  line-height: 50px;
  left: 1125px;
  top: 60px;
  font-family: "Alibaba-PuHuiTi-Regular";
  font-size: 16px;
  //color: #ffffff;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

nz-header.header01 .exit a {
  background: url(../../assets/index1/滑动.png) 6px center no-repeat;
  text-indent: 65px;
  font-family: "Alibaba-PuHuiTi-Regular";
  font-size: 18px;
  width: 154px;
  height: 50px;
  //color: #ffffff;
  text-align: left;
}
