.container {
  background: url("../../assets/index1/背景.png") no-repeat;
  background-size: 1440px;
  width: 1440px;
  height: 900px;
}

::ng-deep .container .ant-page-header {
  background-color: transparent;
  color: azure;
}

::ng-deep .container .ant-page-header .ant-page-header-heading-title {
  color: azure;
}

::ng-deep .container .ant-page-header .ant-page-header-back-button {
  color: azure;
}

::ng-deep .container .ant-pagination-item {
  background-color: transparent;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

::ng-deep .container .ant-pagination-item a {
  color: #ffffff;
}

::ng-deep .container .ant-pagination-prev,
::ng-deep .container .ant-pagination-next {
  background-color: transparent;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

::ng-deep .container .ant-pagination-prev .ant-pagination-item-link,
::ng-deep .container .ant-pagination-next .ant-pagination-item-link {
  background-color: transparent;
  color: #ffffff;
}

::ng-deep .container .ant-pagination-jump-prev .ant-pagination-item-link span,
::ng-deep .container .ant-pagination-jump-next .ant-pagination-item-link span {
  color: #ffffff;
}

::ng-deep .container .ant-table-body table {
  background: url(../../assets/timg.jpg) repeat;
}

::ng-deep .container .ant-table-body table .ant-table-thead .ant-table-row th {
  // background-color: #ffffff;
  // background-color: #3ba0e9;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
}

::ng-deep .container .ant-table-body table td {
  padding: 0;
  text-indent: 16px;
  color: #ffffff;
  height: 3em;
  line-height: 3em;
}

::ng-deep .container .ant-table-body table a {
  display: inline-block;
  height: 3em;
  width: 100%;
  line-height: 3em;
  color: #ffffff;
}

::ng-deep .container .ant-pagination-total-text {
  color: #ffffff;
}

::ng-deep .ant-modal-content {
  /*background: url(../../assets/timg.jpg) repeat;*/
  background-color: #05073a;
}

::ng-deep .ant-modal-header {
  background-color: transparent;
}

::ng-deep .ant-modal-header div {
  color: #ffffff !important;
  font-weight: bold;
}

::ng-deep .ant-modal-close-x {
  background-color: #ffffff;
}

::ng-deep .ant-descriptions-item-label {
  background-color: transparent !important;
  color: #ffffff;
  font-weight: bold;
}

::ng-deep .ant-descriptions-item-content {
  color: #ffffff;
}

::ng-deep .ant-row .ant-col-6,
::ng-deep .ant-row .ant-col-12 {
}

::ng-deep .ant-row a {
}

::ng-deep .ant-row a p {
  text-align: center;
}

/*查询项目*/
.query-item {
  background-color: #ffffff;
  height: 547px;
  padding-top: 22px;
}

.query-item ul {
  list-style-type: none;
}
.query-item li {
  list-style-type: none;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 285px;
  height: 208px;
  background: #f3f9ff;
  border-radius: 10px;
}

.query-item li a {
  display: inline-block;
  width: 285px;
  height: 208px;
  position: relative;
}

.query-item li a span.icon {
  position: absolute;
  width: 78px;
  height: 53px;
  left: 103px;
  top: 39px;
}
.query-item li a span.title {
  position: absolute;
  width: 237px;
  height: 33px;
  left: 24px;
  top: 120px;
  font-family: "Alibaba-PuHuiTi-Regular";
  font-size: 24px;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
}
