
.container {
    padding: 0 15%;
    height: 600px;
  }
  
  ::ng-deep .container .ant-page-header {
    background-color: transparent;
    color: azure;
  }
  
  ::ng-deep .container .ant-page-header .ant-page-header-heading-title {
    color: azure;
  }
  
  ::ng-deep .container .ant-page-header .ant-page-header-back-button {
    color: azure;
  }
  
  ::ng-deep .container .ant-pagination-item {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  
  ::ng-deep .container .ant-pagination-prev {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  
  ::ng-deep .container .ant-pagination-next {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  
  ::ng-deep .container .ant-table-body table {
    // background-color: #ffffff;
    // background-color: #3ba0e9;
  }
  
  ::ng-deep .container .ant-table-body table td {
    padding: 0;
    text-indent: 16px;
    color: #ffffff;
  }
  
  ::ng-deep .container .ant-table-body table a {
    display: inline-block;
    height: 3.5em;
    width: 100%;
    line-height: 3.5em;
    color: #ffffff;
    font-weight: bold;
  }
  
  ::ng-deep .container .ant-pagination-total-text {
    color: #ffffff;
  }
  