<div class="location">
    <span class="t">您的位置：</span>
    <span class="location-name">{{title}}</span>
</div>
<div class="count-down-area">本页面将在
    <countdown [config]="config" (event)="handleEvent($event)"></countdown>
    秒后自动退出
</div>
<nz-card>
    <nz-skeleton [nzActive]="true" [nzLoading]="loading">
        <div class="table">
            <nz-table #ajaxTable [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
                [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
                (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)">
                <thead (nzSortOrderChange)="sort($event)" nzSingleSort>
                    <tr>
                        <th nzShowSort nzSortKey="aac003">姓名</th>
                        <th nzShowSort nzSortKey="bcca14name">人员类别</th>
                        <th nzShowSort nzSortKey="adc450name">补贴类别</th>
                        <th nzShowSort nzSortKey="abc921">补贴年限</th>
                        <th nzShowSort nzSortKey="adc456">已享受月数</th>
                        <th nzShowSort nzSortKey="aae036">申请时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listOfData">
                        <td>{{item.aac003}}</td>
                        <td>{{item.bcca14name}}</td>
                        <td>{{item.adc450name}}</td>
                        <td>{{item.abc921}}</td>
                        <td>{{item.adc456}}</td>
                        <td>{{item.aae036}}</td>
                    </tr>
                </tbody>
            </nz-table>
            <!-- <ng-template #totalTemplate let-total> 总记录 {{ total }} </ng-template> -->
        </div>
    </nz-skeleton>
</nz-card>
<a (click)="back()" class="back-btn">返回</a>