<div class="container">
    <table class="main" cellpadding="0" cellspacing="10">
        <tbody>
            <tr>
                <td rowspan="2">
                    <a href="#">政务不见面审批</a>
                </td>
                <td colspan="3">
                    <div class="tb01">
                        <div class="item01"><a href="#">失业保险金发放查询</a></div>
                        <div class="item01"><a href="#">职业培训查询</a></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="#">创业服务查询</a></td>
                <td><a href="#">就业援助查询</a></td>
                <td rowspan="2"><a href="#">基本信息查询</a></td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="tb01">
                        <div class="item01"><a href="#">自助求职</a></div>
                        <div class="item01"><a href="#">招聘会</a></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>