<div class="count-down-area">本页面将在
    <countdown [config]="config" (event)="handleEvent($event)"></countdown>
    秒后自动退出
</div>
<nz-carousel class="query-item" [nzEffect]="effect">
    <div nz-carousel-content>
        <ul>
            <li><a routerLink="/default/read-card" [queryParams]="{title:'社保卡信息查询',url:'sbkxx'}"><span
                        class="icon78_53"><img src="../../../../assets/shbzk-icon/编组12.png"></span>
                    <span class="title">社保卡信息查询</span></a></li>
            <li><a><span class="icon78_53"><img src="../../../../assets/shbzk-icon/编组11.png"></span>
                    <span class="title">制卡进度查询</span></a></li>
        </ul>
    </div>
</nz-carousel>