<div class="count-down-area">本页面将在
        <countdown [config]="config" (event)="handleEvent($event)"></countdown>
        秒后自动退出
</div>
<nz-carousel class="query-item" [nzEffect]="effect">
        <div nz-carousel-content>
                <ul>
                        <li><a routerLink="/default/read-card" [queryParams]="{title:'人员基本信息查询',url:'ryjbxx'}"><span
                                                class="icon78_53"><img
                                                        src="../../../../assets/shbx-icon/编组12备份.png"></span>
                                        <span class="title">人员基本信息查询</span></a></li>
                        <li><a routerLink="/default/read-card" [queryParams]="{title:'人员参保信息查询',url:'rycb'}"><span
                                                class="icon59_64"><img
                                                        src="../../../../assets/jycy-icon/编组16.png"></span>
                                        <span class="title">人员参保信息查询</span></a></li>
                        <li><a routerLink="/default/read-card" [queryParams]="{title:'人员参保变更信息查询',url:'rycbbg'}"><span
                                                class="icon62"><img src="../../../../assets/shbx-icon/2650.png"></span>
                                        <span class="title">人员参保变更信息查询</span></a></li>
                        <li><a routerLink="/default/read-card" [queryParams]="{title:'人员缴费基数信息查询',url:'ryjfjs'}"><span
                                                class="icon54_63"><img
                                                        src="../../../../assets/shbx-icon/编组12.png"></span>
                                        <span class="title">人员缴费基数信息查询</span></a></li>
                </ul>
                <ul>
                        <li><a routerLink="/default/read-card" [queryParams]="{title:'人员基础信息变更查询',url:'ryjcbg'}"> <span
                                                class="icon78_53"><img
                                                        src="../../../../assets/shbx-icon/编组12备份.png"></span>
                                        <span class="title">人员基础信息变更查询</span></a></li>
                        <li><a routerLink="/default/read-card" [queryParams]="{title:'人员缴费查询',url:'ryjf'}"><span
                                                class="icon62"><img src="../../../../assets/shbx-icon/编组22.png"></span>
                                        <span class="title">人员缴费查询</span></a></li>
                        <li><a routerLink="/default/read-card" [queryParams]="{title:'人员月账户信息查询',url:'ryyzh'}"><span
                                                class="icon54_63"><img
                                                        src="../../../../assets/shbx-icon/编组12.png"></span>
                                        <span class="title">人员月账户信息查询</span></a></li>
                        <li><a routerLink="/default/read-card" [queryParams]="{title:'人员年账户信息查询',url:'rynzh'}"><span
                                                class="icon62"><img
                                                        src="../../../../assets/shbx-icon/编组12备份3.png"></span>
                                        <span class="title">人员年账户信息查询</span></a></li>
                </ul>
        </div>
        <div nz-carousel-content>
                <ul>
                        <li><a routerLink="/default/yaopin"><span class="icon62"><img
                                                        src="../../../../assets/shbx-icon/02140918.png"></span>
                                        <span class="title">药品信息查询</span></a></li>
                        <li><a routerLink="/default/zhenliao"><span class="icon62"><img
                                                        src="../../../../assets/shbx-icon/141109.png"></span>
                                        <span class="title">诊疗项目信息查询</span></a></li>
                        <li><a routerLink="/default/cailiao"><span class="icon59_64"><img
                                                        src="../../../../assets/jycy-icon/编组16.png"></span>
                                        <span class="title">材料信息查询</span></a>
                        </li>
                        <li><a routerLink="/default/read-card" [queryParams]="{title:'工伤基本信息查询',url:'gsjb'}"><span
                                                class="icon78_53"><img
                                                        src="../../../../assets/shbx-icon/编组17备份2.png"></span>
                                        <span class="title">工伤基本信息查询</span></a></li>
                </ul>
                <ul>
                        <li><a routerLink="/default/read-card" [queryParams]="{title:'工伤定期待遇信息查询',url:'gsdqdy'}"><span
                                                class="icon54_63"><img
                                                        src="../../../../assets/shbx-icon/编组19.png"></span>
                                        <span class="title">工伤定期待遇信息查询</span></a></li>
                        <li><a routerLink="/default/read-card" [queryParams]="{title:'工伤待遇支付明细查询',url:'gsdyzf'}"><span
                                                class="icon62"><img src="../../../../assets/shbx-icon/编组14.png"></span>
                                        <span class="title">工伤待遇支付明细查询</span></a></li>
                        <li><a routerLink="/default/read-card" [queryParams]="{title:'工伤待遇受理信息查询',url:'gsdysl'}"><span
                                                class="icon78_53"><img
                                                        src="../../../../assets/shbx-icon/编组18备份.png"></span>
                                        <span class="title">工伤待遇受理信息查询</span></a></li>
                        <li><a routerLink="/default/read-card" [queryParams]="{title:'工伤供养亲属待遇信息查询',url:'gsgyqs'}"><span
                                                class="icon76_56"><img
                                                        src="../../../../assets/shbx-icon/编组13.png"></span>
                                        <span class="title">工伤供养亲属待遇信息查询</span></a></li>
                </ul>
        </div>
        <div nz-carousel-content>
                <ul>
                        <li><a><span class="icon62"><img src="../../../../assets/shbx-icon/编组16.png"></span>
                                        <span class="title">企业离退休人员查询</span></a></li>
                        <li><a><span class="icon59_64"><img src="../../../../assets/shbx-icon/编组11.png"></span>
                                        <span class="title">养老金调整情况查询</span></a></li>
                        <li><a><span class="icon76_56"><img src="../../../../assets/shbx-icon/编组13.png"></span>
                                        <span class="title">供养基本情况查询</span></a></li>
                        <li><a><span class="icon66"><img src="../../../../assets/shbx-icon/编组2.png"></span>
                                        <span class="title">补扣发查询</span></a></li>
                </ul>
                <ul>
                        <li><a><span class="icon62"><img src="../../../../assets/shbx-icon/编组12备份3.png"></span>
                                        <span class="title">个人发放信息变更查询</span></a></li>
                        <li><a><span class="icon54_63"><img src="../../../../assets/shbx-icon/编组12.png"></span>
                                        <span class="title">待遇发放信息查询</span></a></li>
                        <li><a><span class="icon68_49"><img src="../../../../assets/shbx-icon/编组24.png"></span>
                                        <span class="title">退休工资证明</span></a></li>
                </ul>
        </div>
</nz-carousel>