<div class="container">
    <nz-layout class="layout01">
        <nz-header class="header01">
            <img class="logo" src="../../../assets/index1/logo.png" />
            <span class="name">宿迁人社自助服务一体机</span>
            <div class="home"><a routerLink="/index">回到首页</a></div>
            <div class="exit"><a>滑动退卡</a></div>
            <div class="location">
                <span class="t">您的位置：</span>
                <span class="location-name">城乡居民养老保险</span>
            </div>
        </nz-header>
        <nz-content>
            <div class="card-container">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</div>