<nz-descriptions nzBordered nzColon [nzColumn]="2">
    <nz-descriptions-item nzTitle="姓名">{{data.AAC003}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="经营项目">{{data.acc121}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="个体工商店名">{{data.acc123}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="经营地址" [nzSpan]="2">{{data.acc122}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="最低缴费基数" [nzSpan]="2">{{data.acc12g}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="养老补贴开始年月">{{data.acc12e}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="养老补贴终止年月">{{data.acc12f}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="养老补贴月标准">{{data.acc12h}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="养老补贴金额">{{data.acc12j}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="医疗补贴月标准">{{data.acc12k}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="医疗补贴金额">{{data.acc12l}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="合计金额" [nzSpan]="2">{{data.acc12m}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注" [nzSpan]="2">{{data.aae013}}</nz-descriptions-item>
</nz-descriptions>