<nz-card>
    <nz-skeleton [nzActive]="true" [nzLoading]="loading">
        <nz-descriptions nzBordered nzColon [nzColumn]="3">
            <nz-descriptions-item nzTitle="项目编码">{{data.ALA095}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="项目名称">{{data.ALA096}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="收费类别">{{data.ALA024}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="拼音助记码">{{data.ALA008}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="五笔助记码">{{data.ALA009}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="内涵">{{data.ALA061}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="除外内容">{{data.ALA062}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="说明">{{data.ALC063}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="有效标志">{{data.AAE100}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="使用范围">{{data.ALA100}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="计价单位">{{data.ALA070}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="开始日期">{{data.AAE030}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="终止时间">{{data.AAE031}}</nz-descriptions-item>
        </nz-descriptions>
    </nz-skeleton>
</nz-card>